* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container-login {
    background-color: #bdeaff;
    max-width: 560px;
    margin: 64px auto;
    padding: 38px 32px;
    border-radius: 32px;
    text-align: center;
}

h1 {
    margin-bottom: 38px;
    font-size: 45px;
}

.container-login input,

.btn {
    display: inline-block;
    width: 100%;
    max-width: 528px;
    padding: 19.2px;
    font-size: 22.4px;
    border-radius: 8px;
    border: 1px solid #777;
    margin-bottom: 28.8px;
}

.btn-sumbit {
    background-color: #00b7ff;
    color: #fff;
}

.container-login label {
    display: inline-block;
    font-size: 22.4px;
    color: #555;
    margin-bottom: 12.8px;
}

a {
    text-decoration: none;
}

.link {
    display: inline-block;
    font-size: 22.4px;
    color: #db0303;
    margin-bottom: 32px;
    margin-left: 12.8px;
}

.face {
    background-color: #1a77f2;
    color: #fff;
    margin-top: 32px;
    background-image: url('facebook.svg');
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 3px;
}

.google {
    color: #555;
    background-image: url('google.svg');
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 3px;
}

.line {
    display: inline-block;
    border-bottom: solid 1px #aaa;
    width: 42%;
}

.center {
    color: #777;
    margin: 0 12 8px;
    font-size: 22.4px;
}

#header,
#wrapper {
    margin-bottom: 10px;
}

.background-wrapper {
    background: url('anhbia.jpg');
    background-size: cover;
    background-position: center;
    padding: 10px;
}

div.a {
    text-align: center;
}

img.w3-hover-opacity {
    max-width: 100%; /* Đảm bảo logo không vượt quá chiều rộng màn hình */
    max-height: 50%; /* Đảm bảo logo không vượt quá chiều cao màn hình */
    margin-bottom: 20px; /* Thêm khoảng cách dưới logo */
}

.nav-bar {
    width: 100%;
    height: 50px;
    background: url('./bg-menutop.png') repeat-x bottom;
    
    .list-controller {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-evenly;
        height: 100%;
        align-items: center;
        border-bottom: solid 2px #c0c0c0;
        .controller-item {
            padding: 15px 20px;
            letter-spacing: 0.02em;
            line-height: 21px;        
            text-transform: uppercase;
            color: #004f92;
            border-bottom: solid 2px #c0c0c0;
            font-weight: 6000

        }
        .controller-item:hover {
            color: #d71921;
            border-bottom: solid 2px #d71921;
            cursor: pointer;
            transition: ease 0.5s ;
        }
    }
}
.content-1000 {
    width: 1000px;
    margin: auto;
}
.footer-container {
    background-color: #f8f8f8;
    padding: 10px;
    .company-title {
        margin-bottom: 8px;
    }
    .address-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        font-size: 14px;
        line-height: 18px;
    }
}
.main-page-container {
    margin-top: 10px;
    margin-bottom: 20px;
    .main-page-content {
        .news {
            align-items: center;
            margin-bottom: 15px;
            .news-main {
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                .news-main-img img {
                    width: 100%;
                    height: 170px;
                }
                .news-main-title {
                    color: #004f92;
                    margin: 10px 0;
                }
                .news-main-title:hover {
                    color: #d71921;
                }
                .news-main-content {
                    color: #333333;
                    font-size: 14px;
                    line-height: 14px;
                }
            }

            .news-sub-list {
                margin: 0 10px;
                .news-sub-item {
                    border-bottom: 1px solid #e8e8e8 ;
                    padding: 8px 0;
                    display: flex;
                    height: 90px;
                    align-items: center;
                    .ns-img-item img{
                        width: 90px;
                        height: 80px;
                    }
                    .ns-content-item {
                        margin-left: 10px;
                        color: #004f92;
                        font-weight: 600;
                        font-size: 12px;
                    }
                    .ns-content-item:hover {
                        color: #d71921;
                    }
                }
            }
        }
        .bg-section {
            background: url('./bg-catalogy.png') repeat-x top;
            width: 100%;
            border: 1px solid #ddd;
        }
        .section-container {
            .section-title {
                text-transform: uppercase;
                height: 40px;
            }
            .section-title h4 {
                border-top: 2px solid #d71921;
                width: fit-content;
                line-height: 25px;
                padding-left: 10px ;
                padding-right: 10px ;
                margin-left: 5px;
            }

            .section-content-list {
                display: flex;
                column-gap: 10px;
                margin-left: 5px;
                margin-right: 5px;
                .section-content-item {
                    display: flex;
                    flex-direction: column;
                    .sc-item-img img {
                        width: 100%;
                        height: 150px;
                    }
                    .sc-item-title {
                        color: #004f92;
                        margin: 5px 0;
                    }
                    .sc-item-title:hover {
                        color: #d71921;
                    }
                    .sc-item-content {
                        color: #333333;
                        font-size: 14px;
                        line-height: 14px;
                        padding-bottom: 15px;
                    }
                }
            }
        }
    }
    .announcement {
        width: 100%;
        border: 1px solid #ddd;
        .announcement-title {
            background-color: #f2f2f2;
            border-top: 3px solid #d71921;
            text-transform: uppercase;
            padding: 10px 20px;
        }
        .announcement-list {
            margin: 0 10px;
            .announcement-item {
                border-bottom: 1px solid #e8e8e8 ;
                padding: 8px 0;
                display: flex;
                height: 80px;
                align-items: center;
                .a-img-item img{
                    width: 80px;
                    height: 70px;
                }
                .a-content-item {
                    margin-left: 10px;
                    color: #004f92;
                    font-weight: 600;
                }
                .a-content-item:hover {
                    color: #d71921;
                }
            }
        }
    }
}
.shopping-cart-container {
    .cart-container {
        padding: 30px;
        border: solid 1px #c0c0c0;
        border-radius: 15px;

        .cart-title {
            column-gap: 5px;
            align-items: center;
        }
        .cart-title h3 {
            color: #004f92;
        }
        .cart-title p {
            color: #999999;
        }
        .cart-table table {
            margin-top: 20px;
            border-collapse: collapse;
            width: 100%;
            .cart-table-header tr {
                th {
                    padding: 5px 0;
                }
                th:first-child {
                    text-align: left;
                    padding-left: 10px ;
                }
            }
            .cart-table-body tr {
                border: solid 1px #c0c0c0;
                border-radius: 10px;
                .cart-item {
                    column-gap: 10px;
                    align-items: center;
                    .cart-item-img img {
                        height: 70px;
                        width: 70px;
                    }
                    .cart-item-info p {
                        font-size: 14px;
                        color: #777;
                        line-height: 18px;
                        padding: 4px 2px;
                    }
                    .cart-item-info h4 {
                        color: #004f92;
                    }
                }
                .quantity-action {
                    column-gap: 5px;
                    align-items: center;
                    .adjust-quantity-btn {
                        display: flex;
                        align-items: center;
                        padding: 6px 10px;
                        background-color: #fff;
                        border: solid 1px #c0c0c0;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }
                .remove-btn {
                    background-color: #fff;
                    color: #d71921;
                    font-weight: 600;
                    border: none;
                    cursor: pointer;
                }
            }
            .cart-table-body td {
                padding: 10px;
            }
        }
        
    }
}
.d-flex {
    display: flex;
}
.col-7 {
    flex: 7;
}
.col-5 {
    flex: 5;
}
.col-6 {
    flex: 6;
}
.col-gap-5px {
    column-gap: 5px;
}
.mb-15 {
    margin-bottom: 15px;
}
.back-btn {
    margin: 15px 10px;
}
.j-sb {
    justify-content: space-between;
}